---
import BaseLayout from './BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string;
  browserTitle?: string;
  canonicalPath?: string;
  showStripe?: boolean;
  bodyClass?: string;
}

const { title, description, browserTitle, canonicalPath, bodyClass } = Astro.props;
---

<BaseLayout title={title} description={description} browserTitle={browserTitle} canonicalPath={canonicalPath} bodyClass={bodyClass}>
  <Navbar />
  <main id="main-content">
    <slot />
  </main>
  <Footer />
</BaseLayout>
